<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace=" fragments2 :: head"></head>
<body class="container">

<nav th:replace="fragments2 :: navigation"></nav>

<form method="post">

    <div class="form-group">
        <th:block th:each="user : ${users}">
            <label>
                <span th:text="${user.username}"></span>
                <input type="checkbox" name="userIds" th:value="${user.id}" class="form-control">
            </label>
        </th:block>

    </div>

    <input type="submit" value="Delete" class="btn btn-danger">
</form>

</body>
</html>