<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace=" fragments2 :: head"></head>
<body class="container">
<nav th:replace="fragments2 :: navigation"></nav>

<table class="table table-striped">
    <tr>
        <th>ID</th>
        <td th:text="${user.id}"></td>
    </tr>
    <tr>
        <th>Username</th>
        <td th:text="${user.username}"></td>
    </tr>
    <tr>
        <th>Password</th>
        <td th:text="${user.password}"></td>
    </tr>
    <tr>
        <th>Role</th>
        <td th:text="${user.role}"></td>
    </tr>
</table>


</body>
</html>